.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 50vh;
    background: rgb(15, 15, 15);
    font-family: "Kode Mono", monospace; /* Cambia a Montserrat */
    padding: 0 20px;
}

/* Resto de estilos usando Montserrat */
.info1 {
    color: white;
    max-width: 20vw;
    margin-top: 2vh;
    margin-left: 20vw;
    margin-right: 00vw;
}

.info2 {
    max-width: 40vw;
    color: white;
    margin-top: 2vh;
    margin-right: 25vw;
}

.TitleInfo1 {
    margin-bottom: 3vh;
    padding: 0;
    text-align: left;
}

.DescInfo1 {
    margin-bottom: 0vh;
    padding: 0;
    text-align: left;
}

.Container1, .Container2, .Container3 {
    display: flex; /* Utiliza flexbox para distribuir los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
    background: rgb(15, 15, 15);
    margin-bottom: 1rem;
    padding: 3vh;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);
    
}

.Container1 {
    background-image: url('../../../../public/support3.svg');
    background-size: 5vh; /* Tamaño inicial de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 5% center; /* Posición inicial de la imagen */
}

.Container2 {
    background-image: url('../../../../public/uptime.svg');
    background-size: 5vh; /* Tamaño inicial de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 5% center; /* Posición inicial de la imagen */
}

.Container3 {
    background-image: url('../../../../public/connection.svg');
    background-size: 5vh; /* Tamaño inicial de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 5% center; /* Posición inicial de la imagen */
}

.TextContainer1, .TextContainer2, .TextContainer3 {
    font-size: 1rem; /* Tamaño de fuente más pequeño */
    max-width: 15vw; /* Ancho máximo del contenedor de texto */
    margin-left: 6vh; /* Espacio entre la imagen y el texto */
}

.Container1:hover, .Container2:hover, .Container3:hover {
    transform: scale(1.02); /* Aumenta un 2% el tamaño original */
    background-size: 6vh; /* Mantiene el mismo tamaño de la imagen al pasar el ratón por encima */
    background-color: rgb(12, 12, 12); /* Color de fondo modificado */
}