/* HEADER */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 5;
}

.contenedor__barra {
    width: 100%;
    height: 80px;
    font-weight: 600;
    background: rgb(15, 15, 15);
    padding: 0px 20px;
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_barra1, .menu_barra2 {
    display: flex;
    align-items: center;
    flex: 1; /* Ajuste para distribuir el espacio */
}

.titleNav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgba(255, 0, 0, 0.5);
    text-align: center; /* Centra el texto */
}

.menu_barra1 {
    justify-content: flex-end;
    margin-right: 2%; /* Ajuste según sea necesario */
    font-size: 18px;
    margin-left: 5%;
}

.menu_barra2 {
    justify-content: flex-start;
    margin-left: 2%;
    font-size: 18px;
}

.nav-items {
    display: flex;
}

nav {
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
    padding-left: 0;
    margin-left: 0;
}

nav > ul > li {
    height: auto;
    list-style: none;
    position: relative;
    padding: 10px;
}

nav > ul > li:hover {
    background: #1c1c1d;
    color: rgb(204, 203, 203);
}

nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
}


/* SUBMENU */

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-transform: none;
    font-weight: 500;
    top: 75px;
    right: -35px; /* Ajusta este valor según sea necesario */
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7); /* Controla la transparencia aquí */
    border-radius: 0 0 0px 0px;
    border: 1px solid rgba(255, 0, 0, 0.5);
    z-index: 10;
    transition: opacity 300ms ease, transform 300ms ease; /* Se han separado las transiciones */
    list-style: none;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(-5px); /* Añade un pequeño desplazamiento para mejorar la apariencia */
}

nav ul li ul::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgba(255, 0, 0, 0.5) transparent;
}

nav ul li ul li a {
    display: block;
    color: white;
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 14px;
    padding: 10px 20px; /* Aumenta el espacio de clic para una mejor experiencia de usuario */
    font-size: 14px;
    transition: background 300ms ease; /* Se ha separado la transición */
}

nav ul li ul li a:hover {
    border-radius: 3px;
    background: rgba(255, 0, 0, 0.5);
}

/* Botón Login */
.login_register {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Ajusta según sea necesario */
}

.login_register a {
    font-size: small;
    background: rgba(255, 0, 0, 0.568);
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px; /* Ajuste para separar el botón de los demás */
}

.login_register a:hover {
    background: red;
    color: white;
}

.menu-toggle {
    display: none; /* Ocultar el botón de menú por defecto */
}