@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.navBar {
    position: absolute;
    background-color: rgb(15, 15, 15);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}

.titleNavBar a {
    color: rgba(255, 0, 0, 0.5);
    font-size: 40px;
    font-family: 'Gill Sans MT', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.navBar ul {
    list-style: none;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
}

.navBar ul li {
    padding: 10px 30px;
    position: relative;
    height: 80px;
}
.navBar ul li a {
    color: rgba(255, 255, 255, 0.863);
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s;
    font-weight: bold;
    height: 100%; /* Ocupar toda la altura del elemento padre */
    display: flex;
    align-items: center;
}

.dropDown {
    display: none;
}

.navBar ul li:hover {
    background-color: #1c1c1d;
    width: 100%;
    transition: all 0.3s;
}


.navBar ul li:hover .dropDown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgb(12, 12, 12);
    z-index: 100;
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    border-right: 1px solid rgba(255, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 0, 0, 0.5);
}

.dropDown ul {
    display: block;
    width: 100%;
}

.dropDown ul li {
    padding: 20px;
    z-index: 100;
}

.login_register {
    position: absolute;
    right: 3%;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.login_register a {
    font-size: small;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px; /* Ajuste para separar el botón de los demás */
}

.login_register a:hover {
    background: red;
    color: white;
}

.login-btn, .signup-btn, .logout-btn {
    background: rgba(255, 0, 0, 0.5);
    padding: 8px 24px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.login-btn:hover, .signup-btn:hover, .logout-btn:hover {
    background: rgba(255, 0, 0, 0.39);
    padding: 8px 24px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.login-btn {
    margin-right: 10px;
}

